P {color:red; 
    font-size:20px;
    font-family: "Arial Black";
    font-weight:bold;
    font-style:italic;
    line-height:60px;
    letter-spacing:10px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:right;
    text-indent:10px;
}
P {color: white; 
    font-size:20px;
    font-family: "Bell MT";
    font-weight:bold;
    font-style:italic;
    line-height:70px;
}